*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    min-width: 50%;
    max-width: 50%;
}

a {
    all: unset;
    cursor: pointer;
}

a:hover {
color: rgb(29,221,189);;
}

h2{
    font-size: 2.5rem;
}

div{
    list-style: none;
}

#portfolio div, #resume div{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left:2rem ;
    vertical-align: text-bottom;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-color: white;
}

#portfolio p{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about-me{

}

section h2{
    text-align: center;
}


.img-pic{
    display: flex;
    padding: 0.5rem;
    width: 15rem;
}

.img-pic1{
    border-radius: 50%;
    display: flex;
    padding: 0.5rem;
    width: 60px;
}
footer{
    color: black;
    height: 30;
    background: linear-gradient(to right,#dba6a6,#ca4423);
    box-shadow: 0 50vh 0 50vh #000;
}
footer h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#contact div, #contact p {
    display: flex;
    justify-content: center;
    
}

#contact div{
   /* border: 1px red solid; use it to understand padding and margin*/ 
    padding:0.5rem;
}

nav {
    display:flex;
    align-items:center;
    text-align: center;
    font-size: 18px;
    color: rgb(247, 245, 245);
    background: linear-gradient(to right,#dba6a6,#ca4423)

}

.nav-links {
    width: 90%;
    justify-content: space-around;

}

.nav-links a {
    padding-left: 2rem;
    
}
