*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans';
    font-size: large;
    
}

.profile-pic img{
border-radius: 50%;
}

i{
   padding-bottom: 0.1em;
}

p{
    color:#b9cd6c;
    padding:1rem;
}

a, input, button{
    all:unset;
    cursor:pointer;
    color: #dbc1b0;
}
a:hover, input:hover, button:hover{
    color: #b9cd6c;
}

.logo img{
    border-radius: 50%;
    width: 5rem;
    padding: 0.5em;
}

 footer, section h2{
    /* padding-top: 2rem; */
    text-align: center;
    font-size: 18pt;
    color:#9d284c;
}

.container, header nav{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* padding-left:2rem ; */
}

.container div{
    padding: 1rem;
}

.container img,video{
    width: 100%;
}



nav{
    color: white;
    background: linear-gradient(#36115f, rgb(5, 5, 5));
}

footer{
    background: linear-gradient(rgb(5, 5, 5),#36115f);
}


body{
    
}
/*using the div that contains all like a replacement for body, 
since body itself covers the entire page. so we can have a border outside of it.*/
.body-filter{
    /* background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80"); */
    /* background-position: center;
    background-repeat: no-repeat; */
    background-color: black;
    margin:1rem;
    /* background-image: url(../images/background.JPG);
    background-position:   right 25% ; */
    
}


footer h2{
    font-size: 18pt;
    padding-top: 0.1em;
}



input{
    background: linear-gradient(#36115f,black);
    font-size:12pt;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

button{
    background: linear-gradient(black, #36115f);
    color: #dbc1b0;
    border-radius: 1rem;
    padding: 0.3rem;
}

.about img {
    width: 60%;
    border-radius: 10px;
    opacity: 0.5;
    transition: transform .5s;
}

.about img:hover{
    opacity: 1.0;
    transform: scale(1.5);
}
.copyright{
    font-size: 8pt;
}



/* clamp(1st - minimum no matter what the size is the e.g font, 2nd how much you want it to grow by, 3rd maximum size) */