*{
    padding: 0;
    margin: 0.3em;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.profile-pic img{
border-radius: 50%;
}

a{
    all:unset;
    cursor:pointer;
}
a:hover{
    color: red;
}

.logo img{
    border-radius: 50%;
    width: 5rem;
    padding: 0.1em;
}

 footer, section h2{
    /* padding-top: 2rem; */
    text-align: center;
    font-size: 24pt;
}

.about h4{
    font-size: 18pt;
}

.container, header nav{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* padding-left:2rem ; */
}

.container div{
    padding: 1rem;
    padding-top: 1rem;
}

.container img, video{
    width: 100%;
}

nav, footer{
    color: white;
    background: linear-gradient(#1100ff, rgb(5, 5, 5));
}


body{
    background-color: white;
}


section .container{
    background-color: white;
}

footer h2{
    font-size: 24pt;
    padding-top: 0.1em;
}

i{
   padding-bottom: 0.1em;
}

input {
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
}
input:hover{
    color: red;
}