
a {
    all: unset;
    cursor: pointer;
}

a:hover {
color: green;
}

ul{
    list-style: none;
}

#portfolio ul, #resume ul{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left:2rem ;
    vertical-align: text-bottom;
}

body{
    background: linear-gradient(to right,#D3D3D3,#2D3436);
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio p{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about-me{

}

section h2{
    text-align: center;
}


.img-pic{
    border-radius: 50%;
    display: flex;
    padding: 0.5rem;
    
    
}
footer{
    background-color: black;
    color: rgb(247, 245, 245);
    border: 3px white solid;
    height: 30;
    
}
#contact div, #contact p {
    display: flex;
    justify-content: center;
    
}

#contact span{
   /* border: 1px red solid; use it to understand padding and margin*/ 
    padding:0.5rem;
}

nav {
    display:flex;
    align-items:center;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: rgb(247, 245, 245);
    border: 3px white solid;

}

.nav-links {
    width: 100%;
    justify-content: space-between;

}

.nav-links a {
    padding-left: 14rem;
    
}
