a {
    all: unset;
    cursor: pointer;
}

a:hover {
color: green;
}

ul{
    list-style: none;
}

img{
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background-color: black;
    color: rgb(247, 245, 245);
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-links {
    width: 100%;
    justify-content: space-between;

}

.nav-links a {
    padding-left: 2rem;
}
