table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th{
    background-color: rgb(241, 222, 185);
}
tr {
  text-align: center;
}
body{
  background-image: linear-gradient(to right, white,orange,yellow);
}

nav:hover a{
    color: red;
}

.nav-link{
    height: 50px;
    font: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}