     /* .col-md-3 {
        border: solid 1px black;
      } */
      * {
        box-sizing: border-box;
      }

      .card-img-top {
        object-fit: cover; 
        aspect-ratio: 1/1;
      }

      .col-lg-3{
        margin-top: 10px;
      }

      .card {
        height: 100%;
        width: 100%;
        /* position: relative; */
      }
      /* .button {
        position: absolute;
        bottom: 2em;
      } */
      .row {
        margin-top:10px;
        margin-bottom: 10px;
      }


      /* hover effect on siblings */
      .col-lg-3 {
        transition: .3s;
      }

      #cardContainer:hover > :not(:hover){
        opacity: .4;
        
      }
      /* text transition */
      .navbar-brand{
        /* text-transform: uppercase; */
        background-image: linear-gradient(
        -225deg,
         #3804f1 0%,
         #f00707 29%,
         #ee8206 67%,
         #fa7d08 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
       }

    @keyframes textclip {
        to {
            background-position: 200% center;
            }
      }

      html, body {
        width: 100%;
        height:100%;
      }
      
      body {
          background: linear-gradient(-45deg, #3804f1, #1bf007, #ee8206, #fa7d08);
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
      }
      
      @keyframes gradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }

      